{% from 'bootstrap5/form.html' import render_form %}

<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Warehouse SLA Monitor</title>
        {% endblock %}
    </head>
    <body>
        <!-- Your page content -->
        {% block content %}
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
        
              <h1 class="pt-5 pb-2">Welcome to the Warehouse SLA Monitor!</h1>
        
              <p class="lead">Create an new SLA policy to apply to a SQL warehouse.</p>
        
              {{ render_form(form) }}
        
              <p class="pt-5"><strong>{{ message }}</strong></p>
        
            </div>
          </div>
        </div>
        {% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>
